# operators

hf

this is raw NB converter

In [5]:
6-5.7

0.2999999999999998

In [6]:
round(6-5.7,2)

0.3

In [9]:
length=92
breadth=48.8
area=length*breadth
print (area)

4489.599999999999

In [10]:
chips=9
cost_one=1.49
total_cost=chips*cost_one
print(20-total_cost)

6.59

In [13]:
length=5.5
cost_title=500
area=length**2
print(area*cost_title)

15125.0

In [12]:
format(17,'b')

'10001'

In [12]:
a=0b1010
b=0b110
c=a&b
print(bin(c))

0b10

In [4]:
d=a | b
print(bin(d))

0b1110

In [7]:
e= a^b
print(bin(e))

0b1100

In [25]:
a=0b1011
f = ~a
print(bin(f))

-0b1100

In [34]:
a=0b1010
g = a<<5

In [35]:
print(g)

320

In [5]:
a=0b1011
b=0b1101
e= a^b
print(bin(e))

0b110

In [6]:
it=input("enter value")

enter value12

In [9]:
k=complex(2,3)

In [14]:
k.conjugate

In [22]:
float('None')

ValueError: could not convert string to float: 'None'

In [24]:

# importing pandas as pd
import pandas as pd
  
# importing numpy as np
import numpy as np
  
# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
  
# creating a dataframe from list
df = pd.DataFrame(dict)
  
# using isnull() function  
df.isnull()

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True         False        False
3        False          True        False

In [31]:
from filecmp import cmp

In [37]:

print(cmp(5, 3,))

OSError: [WinError 6] The handle is invalid: 5