street="bhekrai nagar"
city="pune"
country="india"
full_add=street+' ' +city+ ' '+country
print(full_add)
print(f'{street} \n{city} \n{country}')

In [63]:
s="Earth revlos aroung the sun"
s.upper

In [29]:
s[6:12]

'revlos'

In [30]:
s[-3:]

'sun'

In [33]:
x=10
y=5
print(f'i eat',x,'fruits and',y,'veggies')

i eat 10 fruits and 5 veggies

In [34]:
print(f"i eat {x} vegitables and {y} fruits")

i eat 10 vegitables and 5 fruits

In [43]:
s= "maine 200 banana khaye"
s.replace("200 banana","10 samosa")

'maine 10 samosa khaye'

In [47]:
s=input("Enter the file name")
print(s[:-4])

Enter the file nameImage is long and file name is this.img
Image is long and file name is this

In [2]:
t=("c","c++","python")
a=" ".join(t)

In [3]:
a

'c c++ python'

In [4]:
type(a)

str

In [5]:
type(t)

tuple

In [12]:
l=[3,5]
b=" ".join(l)

TypeError: sequence item 0: expected str instance, int found

In [11]:
b

'c c+++'

In [20]:
s='''This is the new 
this is second
'''
s.endswith("\n")

True

In [71]:
s={2,6,3,20,45}
type(s)

set

In [50]:
s.add(220)

In [51]:
s

{1,
 10,
 100,
 1100,
 199,
 2,
 20,
 200,
 22,
 220,
 222,
 3,
 30,
 45,
 56,
 6,
 60,
 'python'}

In [79]:
s1=(1,10,23)
s.add(s1)

In [80]:
s

{(1, 10, 23), 2, 20, 3, 45, 6}

In [88]:
print(list(s)[4][1])

10

In [89]:
s.update()

In [2]:
s="this is MY nWe string"

In [3]:
s.lower()

'this is my nwe string'

In [90]:
s

{(1, 10, 23), 2, 20, 3, 45, 6}

In [95]:
print(list(s)[4])

(1, 10, 23)

In [98]:
a={1,3,6,8,9,10,11,18,20,21,30,100,200,300,400}

In [99]:
a

{1, 3, 6, 8, 9, 10, 11, 18, 20, 21, 30, 100, 200, 300, 400}

In [100]:
a.add(110)

In [101]:
a

{1, 3, 6, 8, 9, 10, 11, 18, 20, 21, 30, 100, 110, 200, 300, 400}

# Google professinal certificate week 4 assignment of string

Q1.Question 1 Fill in the blanks to complete the is_palindrome function. This function checks if a given string is a palindrome. A palindrome is a string that contains the same letters in the same order, whether the word is read from left to right or right to left. Examples of palindromes are words like kayak and radar, and phrases like "Never Odd or Even". The function should ignore blank spaces and capitalization when checking if the given string is a palindrome. 
Complete this function to return True if the passed string is a palindrome, False if not.

In [4]:
def is_palindrome(input_string):
    # Two variables are initialized as string date types using empty 
    # quotes: "reverse_string" to hold the "input_string" in reverse
    # order and "new_string" to hold the "input_string" minus the 
    # spaces between words, if any are found.
    new_string = ""
    reverse_string = ""

    # Complete the for loop to iterate through each letter of the
    # "input_string"
    for letter in input_string.lower():

        # The if-statement checks if the "letter" is not a space.
        if letter != " ":

            # If True, add the "letter" to the end of "new_string" and
            # to the front of "reverse_string". If False (if a space
            # is detected), no action is needed. Exit the if-block.
            new_string = letter+new_string
            reverse_string = letter+reverse_string

    # Complete the if-statement to compare the "new_string" to the
    # "reverse_string". Remember that Python is case-sensitive when
    # creating the string comparison code. 
    if new_string[::-1]==reverse_string:

        # If True, the "input_string" contains a palindrome.
        return True
		
    # Otherwise, return False.
    return False


print(is_palindrome("Never Odd or Even")) # Should be True
print(is_palindrome("abc")) # Should be False
print(is_palindrome("kayak")) # Should be True

True
False
True

Question 2 Using the format method, fill in the gaps in the convert_distance function so that it returns the phrase "X miles equals Y km", with Y having only 1 decimal place. For example, convert_distance(12) should return "12 miles equals 19.2 km".

In [6]:
def convert_distance(miles):
    km = miles * 1.6 
    result = "{} miles equals {:.1f} km".format(miles,km)
    return result


print(convert_distance(12)) # Should be: 12 miles equals 19.2 km
print(convert_distance(5.5)) # Should be: 5.5 miles equals 8.8 km
print(convert_distance(11)) # Should be: 11 miles equals 17.6 km

12 miles equals 19.2 km
5.5 miles equals 8.8 km
11 miles equals 17.6 km

Fill in the gaps in the nametag function so that it uses the format method to return first_name and the first initial of last_name followed by a period. For example, nametag("Jane", "Smith") should return "Jane S."

In [7]:
def nametag(first_name, last_name):
    return("{} {:.1}.".format(first_name,last_name))


print(nametag("Jane", "Smith")) 
# Should display "Jane S." 
print(nametag("Francesco", "Rinaldi")) 
# Should display "Francesco R." 
print(nametag("Jean-Luc", "Grand-Pierre")) 
# Should display "Jean-Luc G."

Jane S.
Francesco R.
Jean-Luc G.

The replace_ending function replaces a specified substring at the end of a given sentence with a new substring. If the specified substring does not appear at the end of the given sentence, no action is performed and the original sentence is returned. If there is more than one occurrence of the specified substring in the sentence, only the substring at the end of the sentence is replaced. For example, replace_ending("abcabc", "abc", "xyz") should return abcxyz, not xyzxyz or xyzabc. The string comparison is case-sensitive, so replace_ending("abcabc", "ABC", "xyz") should return abcabc (no changes made).

In [1]:
def replace_ending(sentence, old, new):
	# Check if the old string is at the end of the sentence 
	if sentence.endswith(old):
		# Using i as the slicing index, combine the part
		# of the sentence up to the matched string at the 
		# end with the new string
		i = sentence[:-len(old)]
		new_sentence = i+new
		return new_sentence

	# Return the original sentence if there is no match 
	return sentence
	
print(replace_ending("It's raining cats and cats", "cats", "dogs")) 
# Should display "It's raining cats and dogs"
print(replace_ending("She sells seashells by the seashore", "seashells", "donuts")) 
# Should display "She sells seashells by the seashore"
print(replace_ending("The weather is nice in May", "may", "april")) 
# Should display "The weather is nice in May"
print(replace_ending("The weather is nice in May", "May", "April")) 
# Should display "The weather is nice in April"

It's raining cats and dogs
She sells seashells by the seashore
The weather is nice in May
The weather is nice in April