In [1]:
n1=input("Enter the first number")
n2=input("Enter the second number")
sum=int(n1)+int(n2)
print(f'The addition of two number is :{sum}')

Enter the first number10
Enter the second number23
The addition of two number is :33

In [2]:
n1=float(input("Enter the base of trangle"))
n2=float(input("Enter the height of trangle"))
area=n1*n2
print(f'The area of trangel is {area}')

Enter the base of trangle12.4
Enter the height of trangle3.2
The area of trangel is 39.68000000000001

In [3]:
l=["mitha","smosa","peda","farsan"]

In [4]:
l[0:2]=["replace_value"]

In [5]:
l

['replace_value', 'peda', 'farsan']

In [6]:
l[0]="char"

In [7]:
l

['char', 'peda', 'farsan']

In [10]:
l[0]='char'
l

['char', 'h', 'a', 'r', 'farsan']

# List excersize

1.Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190

Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [12]:
exp=[2200,2350,2600,2130,2190]

In [13]:
exp[1]-exp[0]

150

In [16]:
quater_expense=exp[0]+exp[1]+exp[2]
quater_expense

7150

In [24]:
#exp.index(2000)
#or
2000 in exp

False

In [18]:
exp.append(1980)

In [20]:
exp

[2200, 2350, 2600, 2130, 2190, 1980]

In [21]:
exp[3]=exp[3]-200

In [22]:
exp

[2200, 2350, 2600, 1930, 2190, 1980]

You have a list of your favourite marvel super heros.
heros=['spider man','thor','hulk','iron man','captain america']
Using this find out,

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [43]:
heros=['spider man','thor','hulk','iron man','captain america']

In [26]:
len(heros)

5

In [46]:
heros.append("black panther")

In [47]:
heros

['spider man', 'doctor stange', 'iron man', 'captain america', 'black panther']

In [48]:
heros.remove("black panther")

In [49]:
heros

['spider man', 'doctor stange', 'iron man', 'captain america']

In [55]:
heros.insert(3,"black panther")

In [56]:
heros

['spider man',
 'doctor stange',
 'black panther',
 'black panther',
 'captain america']

In [57]:
heros[1:3]=["doctor stange"]

In [58]:
heros

['spider man', 'doctor stange', 'black panther', 'captain america']

In [59]:
dir.heros

AttributeError: 'builtin_function_or_method' object has no attribute 'heros'

In [61]:
heros.sort()

In [62]:
heros

['black panther', 'captain america', 'doctor stange', 'spider man']

In [1]:
heros.sort()

NameError: name 'heros' is not defined

# Google professional certificat python crash course week 4 list quize

Q1.Given a list of filenames, we want to rename all the files with extension hpp to the extension h. To do this, we would like to generate a new list called newfilenames, consisting of the new filenames. Fill in the blanks in the code using any of the methods you’ve learned thus far, like a for loop or a list comprehension

In [2]:
filenames = ["program.c", "stdio.hpp", "sample.hpp", "a.out", "math.hpp", "hpp.out"]
# Generate newfilenames as a list containing the new filenames
# using as many lines of code as your chosen method requires.
newfilenames=[]

for index,name in enumerate(filenames):
    if name.endswith(".hpp"):
        name=name.replace('.hpp','.h')
        newfilenames.append(name)
    else:
        newfilenames.append(name)


print(newfilenames) 
# Should be ["program.c", "stdio.h", "sample.h", "a.out", "math.h", "hpp.out"]

['program.c', 'stdio.h', 'sample.h', 'a.out', 'math.h', 'hpp.out']

In [2]:
filenames = ["program.c", "stdio.hpp", "sample.hpp", "a.out", "math.hpp", "hpp.out"]
# Generate newfilenames as a list containing the new filenames
newfilenames=[]
# using as many lines of code as your chosen method requires.
for i in filenames:
    if i.endswith(".hpp"):
        i=i.replace(".hpp",".h")
        newfilenames=newfilenames+[i] 
    else:
        newfilenames=newfilenames+[i]

print(newfilenames) 
# Should be ["program.c", "stdio.h", "sample.h", "a.out", "math.h", "hpp.out"]

['program.c', 'stdio.h', 'sample.h', 'a.out', 'math.h', 'hpp.out']

In [3]:
# my code
filenames = ["program.c", "stdio.hpp", "sample.hpp", "a.out", "math.hpp", "hpp.out"]
# Generate newfilenames as a list containing the new filenames
newfilenames=[]
# using as many lines of code as your chosen method requires.
for i in filenames:
    if i.endswith(".hpp"):
        i=i.replace(".hpp",".h")
        newfilenames=newfilenames+[i] 
    else:
        newfilenames=newfilenames+[i]

print(newfilenames) 
# Should be ["program.c", "stdio.h", "sample.h", "a.out", "math.h", "hpp.out"]

['program.c', 'stdio.h', 'sample.h', 'a.out', 'math.h', 'hpp.out']

Q2.Let's create a function that turns text into pig latin: a simple text transformation that modifies each word moving the first character to the end and appending "ay" to the end. For example, python ends up as ythonpay.

In [4]:
def pig_latin(text):
  say = ""
  # Separate the text into words
  words = text.split()
  for word in words:
    # Create the pig latin word and add it to the list
    texts=word[1:]+word[0]+"ay"+" "
    # Turn the list back into a phrase
    say+=texts
  return say
    
print(pig_latin("hello how are you")) # Should be "ellohay owhay reaay ouyay"
print(pig_latin("programming in python is fun")) # Should be "rogrammingpay niay ythonpay siay unfay"

ellohay owhay reaay ouyay
rogrammingpay niay ythonpay siay unfay

Q3.The group_list function accepts a group name and a list of members, and returns a string with the format: group_name: member1, member2, … For example, group_list("g", ["a","b","c"]) returns "g: a, b, c". Fill in the gaps in this function to do that.

In [1]:
def group_list(group, users):
    members = group + ": " + ", ".join(users)
    return members

print(group_list("Marketing", ["Mike", "Karen", "Jake", "Tasha"])) # Should be "Marketing: Mike, Karen, Jake, Tasha"
print(group_list("Engineering", ["Kim", "Jay", "Tom"])) # Should be "Engineering: Kim, Jay, Tom"
print(group_list("Users", "")) # Should be "Users:"

Marketing: Mike, Karen, Jake, Tasha
Engineering: Kim, Jay, Tom
Users:

The guest_list function reads in a list of tuples with the name, age, and profession of each party guest, and prints the sentence "Guest is X years old and works as __." for each one. For example, guest_list(('Ken', 30, "Chef"), ("Pat", 35, 'Lawyer'), ('Amanda', 25, "Engineer")) should print out: Ken is 30 years old and works as Chef. Pat is 35 years old and works as Lawyer. Amanda is 25 years old and works as Engineer. Fill in the gaps in this function to do that.

In [ ]:
def biography_list(people):
    # Iterate over each "person" in the given "people" list of tuples. 
    for list in people:
        age,name,profession=list 

        # Separate the 3 items in each tuple into 3 variables:
        # "name", "age", and "profession"     

        # Format the required sentence and place the 3 variables 
        # in the correct placeholders using the .format() method.
        print("{} is {} years old and works as a {}".format(age,name,profession))


# Call to the function:
biography_list([('Ira', 30, 'Chef'), ('pat', 35, 'Lawyer'), ('Amanda', 25, 'Engineer')])

# Click Run to submit code

# Output should match:
# Ken is 30 years old and works as a Chef
# Pat is 35 years old and works as a Lawyer
# Amanda is 25 years old and works as an Engineer